<li><a href="#" class="<%= sideNav ? 'green-text text-lighten-1' : '' %>">About Us</a></li>
<li><a href="#" class="<%= sideNav ? 'green-text text-lighten-1' : '' %>">Technology</a></li>
<li><a href="#" class="<%= sideNav ? 'green-text text-lighten-1' : '' %>">GDL Leagues</a></li>
<li><a href="#" class="<%= sideNav ? 'green-text text-lighten-1' : '' %>">GDL Franchise Oppurtunites</a></li>
<li><a href="#" class="<%= sideNav ? 'green-text text-lighten-1' : '' %>">Contact Us</a></li>
<li><a class="dropdown-trigger <%= sideNav ? 'green-text text-lighten-1' : '' %>" href="#!" data-target="<%= datatarget %>">Resources<i class="material-icons right <%= sideNav ? 'green-text' : ''%>">arrow_drop_down</i></a></li>
<li><a href="#" class="<%= sideNav ? 'green-text text-lighten-1' : '' %>">News</a></li>
<li><a href="#" class="<%= sideNav ? 'green-text text-lighten-1' : '' %>">Apply Here</a></li>
