<div class="ourTeam">
    <div class="container">
        <p class="darkerGreen bold">Our Team</p>
        <div class="row">
            <div class="person col s12 l4">
                <img class="leaguesLogo" src="/images/Headshots/steve.png">
                <p class="name bold grey-text text-darken-2">Steve Schecter</p>
                <p class="title primaryGreen">Co-Founder</p>
                <p class="subtitle grey-text">Founder of TapIn, ExchangeBlvd</p>
                <p class="description text-darken-3">
                    <%- include('../content/steveDescription'); %>
                </p>
            </div>
            <div class="person col s12 l4">
                <img class="leaguesLogo" src="/images/Headshots/craig.png">
                <p class="name bold grey-text text-darken-2">Craig Porter</p>
                <p class="title primaryGreen">Co-Founder</p>
                <p class="subtitle grey-text">Product Strategy of TapIn</p>
                <p class="description text-darken-3">
                    <%- include('../content/craigDescription'); %>
                </p>
            </div>
            <div class="person col s12 l4">
                <img class="leaguesLogo" src="/images/Headshots/JC.png">
                <p class="name bold grey-text text-darken-2">Justin Capell</p>
                <p class="title primaryGreen">Co-Founder</p>
                <p class="subtitle grey-text">former COO of GPS</p>
                <p class="description grey-text text-darken-3">
                    <%- include('../content/justinDescription'); %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="person col s12 l6">
                <img class="leaguesLogo" src="/images/Headshots/pedro.png">
                <p class="name bold grey-text text-darken-2">Pedro Herivaux</p>
                <p class="title primaryGreen">Co-Founder</p>
                <p class="subtitle grey-text">Founder of TapIn</p>
                <p class="description text-darken-3">
                    <%- include('../content/pedroDescription'); %>
                </p>
            </div>
            <div class="person col s12 l6">
                <img class="leaguesLogo" src="/images/Headshots/steveP.png">
                <p class="name bold grey-text text-darken-2">Steve Prince</p>
                <p class="title primaryGreen">Co-Founder</p>
                <p class="subtitle grey-text">Founder of TapIn</p>
                <p class="description text-darken-3">
                    <%- include('../content/stevePDescription'); %>
                </p>
            </div>
        </div>
    </div>
</div>