<!DOCTYPE html>
<html lang="en">
    
<%- include('includes/general/head'); %>

<body>
    
    <!-- Navigation -->
    <%- include('includes/general/navbar'); %>
    
    <!-- Full Width Image -->
    <%- include ('includes/franchise_sections/header'); %>

    <!-- Active Franchises -->
    <%- include('includes/franchise_sections/activeFranchises'); %>

    <!-- Contact Us -->
    <%- include('includes/homepage_sections/contactUs'); %>

    <!-- jquery functions for materialize -->
    <%- include('includes/homepage_sections/jquery'); %>

</body>
</html>