<!DOCTYPE html>
<html lang="en">
    
<%- include('includes/general/head'); %>

<body>
    
    <!-- Navigation -->
    <%- include('includes/general/navbar'); %>
    
    <!-- Full Width Image -->
    <%- include ('includes/homepage_sections/fullWidthImage'); %>

    <!-- What We Do section -->
    <%- include('includes/homepage_sections/whatWeDo'); %>

    <!--Our Program section -->
    <%- include('includes/homepage_sections/ourProgram'); %>

    <!-- Our Leagues Section -->
    <%- include('includes/homepage_sections/ourLeagues'); %>

    <!-- Testimonials -->
    <%- include('includes/homepage_sections/testimonials'); %>

    <!-- News -->
    <%- include('includes/homepage_sections/news'); %>

    <!-- Partners -->
    <%- include('includes/homepage_sections/partners'); %>

    <!-- Contact Us -->
    <%- include('includes/homepage_sections/contactUs'); %>

    <!-- jquery functions for materialize -->
    <%- include('includes/homepage_sections/jquery'); %>

</body>
</html>