<!DOCTYPE html>
<html lang="en">
    
<%- include('includes/general/head'); %>

<body>
    
    <!-- Navigation -->
    <%- include('includes/general/navbar'); %>
    
    <!-- Full Width Image -->
    <%- include ('includes/homepage_sections/fullWidthImage'); %>

    <!-- Types -->
    <%- include('includes/joinus_sections/types'); %>

    <!-- Info -->
    <%- include('includes/joinus_sections/cost'); %>
    <%- include('includes/joinus_sections/included'); %>
    <%- include('includes/joinus_sections/howToJoin'); %>

    <!-- Contact Us -->
    <%- include('includes/homepage_sections/contactUs'); %>

    <!-- jquery functions for materialize -->
    <%- include('includes/homepage_sections/jquery'); %>

</body>
</html>