<!DOCTYPE html>
<html lang="en">
    
<%- include('includes/general/head'); %>

<body>
    
    <!-- Navigation -->
    <%- include('includes/general/navbar'); %>
    
    <!-- Full Width Image -->
    <%- include ('includes/joinus_sections/header'); %>

    <!-- Types -->
    <%- include('includes/joinus_sections/types'); %>

    <!-- Options -->
    <%- include('includes/joinus_sections/options'); %>

    <!-- Info -->
    <%- include('includes/joinus_sections/included'); %>
    <%- include('includes/joinus_sections/howToJoin'); %>

    <%- include('includes/joinus_sections/leagues'); %>

    <%- include('includes/joinus_sections/contactBox'); %>

    <%- include('includes/aboutus_sections/download'); %>

    <!-- Form -->
    <%- include('includes/joinus_sections/contactForm'); %>

    <!-- Contact Us -->
    <%- include('includes/general/contactUs'); %>

    <!-- jquery functions for materialize -->
    <%- include('includes/homepage_sections/jquery'); %>

</body>
</html>