<!DOCTYPE html>
<html lang="en">
    
<%- include('includes/general/head'); %>

<body>
    
    <!-- Navigation -->
    <%- include('includes/general/navbar'); %>
    
    <!-- Header -->
    <%- include('includes/leagues_sections/header'); %>

    <!-- Leagues -->
    <%- include('includes/homepage_sections/ourLeagues', {
        home: false
    }); %>

    <!-- Info -->
    <!-- <%- include('includes/leagues_sections/info'); %> -->

    <!-- Stickers -->
    <!-- <%- include('includes/leagues_sections/stickers'); %> -->

    <!-- Cost -->
    <%- include('includes/leaguelanding_sections/cost'); %>

    <!-- Who's it for -->
    <%- include('includes/joinus_sections/types'); %>

    <!-- What's included -->
    <%- include('includes/joinus_sections/included'); %>

    <!-- When -->
    <%- include('includes/leaguelanding_sections/when'); %>

    <!-- Contact Us -->
    <%- include('includes/general/contactUs'); %>

    <!-- jquery functions for materialize -->
    <%- include('includes/homepage_sections/jquery'); %>

</body>
</html>