<!DOCTYPE html>
<html lang="en">
    
<%- include('includes/general/head'); %>

<body>
    
    <!-- Navigation -->
    <%- include('includes/general/navbar'); %>
    
    <!-- Header -->
    <%- include('includes/news_sections/header'); %>

    <div class="row">
        <!-- News Container -->
        <%- include('includes/news_sections/newsContainer'); %>

        <!-- Scrollspy -->
        <%- include('includes/news_sections/scrollspy'); %>
    </div>

    <!-- Contact Us -->
    <%- include('includes/general/contactUs'); %>

    <!-- jquery functions for materialize -->
    <%- include('includes/homepage_sections/jquery'); %>

</body>
</html>