<div class="ourProgram">
    
        <% if (home) { %>
            <h3 class="center-align typicalTitle">Our Program</h3>
        <% } else { %> 
            <div class="container">
                <h3 class="darkerGreen bold">Our Program</h3>
                <hr>
            </div>
        <% } %>
    <div style="padding: 50px 10%;">
        <div class="row">
            <%- include('../minis/ourProgramCard', {
                title: "Revolutionary Technology",
                image: "cellphone",
                info: "Unique, Personalized Digital Player Card for all Players"
            }); %>
            <%- include('../minis/ourProgramCard', {
                title: "Player Centric",
                image: "soccerguy",
                info: "Fun, Low Pressure Introduction to Organized Competition"
            }); %>
            <%- include('../minis/ourProgramCard', {
                title: "Development Focused",
                image: "computerguy",
                info: "Small Sided, Conditioned and Free Play Games"
            }); %>
            <%- include('../minis/ourProgramCard', {
                title: "Complimentary Program",
                image: "comp",
                info: "Supplemental, Convenient, Low Cost and Commitment"
            }); %>
            <%- include('../minis/ourProgramCard', {
                title: "Open to All",
                image: "diversity",
                info: "Inclusive and Diverse"
            }); %>
            <%- include('../minis/ourProgramCard', {
                title: "Social Good",
                image: "social",
                info: "Influencing Positive Social Change"
            }); %>
        </div>

        <% if (home) { %>
            <div class="row button">
                <a href="/aboutus" class="btn-large green lighten-1 waves-effect tapinBtn">Learn More</a>
            </div>
        <% } %>

    </div>
</div>