<div class="ourProgram grey lighten-2">
    <div class="container">
        <h3 class="center-align">Our Program</h3>
        <div class="row">
            <%- include('../minis/ourProgramCard', {
                title: "Player Centric",
                image: "soccerguy",
                bullets: [
                    "Fun, Safe, and Engaging",
                    "Interactive",
                    "No Standings"
                ]
            }); %>
            <%- include('../minis/ourProgramCard', {
                title: "Developement Focused",
                image: "computerguy",
                bullets: [
                    "Nationally recognized soccer leaders",
                    "Small sided games",
                    "Controlled environment"
                ]
            }); %>
            <%- include('../minis/ourProgramCard', {
                title: "Revolutionary Technology",
                image: "cellphone",
                bullets: [
                    "User focused",
                    "Targeted developement focussed tools",
                    "Education and certification"
                ]
            }); %>
            <%- include('../minis/ourProgramCard', {
                title: "Open to All",
                image: "diversity",
                bullets: [
                    "User focused",
                    "Targeted developement focussed tools",
                    "Education and certification"
                ]
            }); %>
            <%- include('../minis/ourProgramCard', {
                title: "Full Administration Platform",
                image: "circlePeople",
                bullets: [
                    "Player registration, team management",
                    "Scheduling facilities, referees reporting",
                    "Reporting and feedback training"
                ]
            }); %>
            <%- include('../minis/ourProgramCard', {
                title: "Social Good",
                image: "social",
                bullets: [
                    "Influencing positive social change"
                ]
            }); %>
        </div>
        <div class="row button">
            <button class="btn-large green lighten-1 waves-effect">Learn More</button>
        </div>
    </div>
</div>