<div class="story">
    <div class="header">
        <div class="top">
            <div class="league <%= league %>">GDL <%= league %></div>
            <p class="title bold"><%= title %></p>
        </div>
        <p class="info center-align"><%= info %></p>
    </div>
    <img src="<%= img %>">
    <div class="content">
        <%- include(content); %>
    </div>
</div>
