<div class="story section scrollspy" id="story<%= id %>">
    <div class="header">
        <div class="top">
            <div class="league <%= league %>">GDL <%= league %></div>
            <p class="title bold"><%= title %></p>
            <div class="leagueSmall <%= league %>">GDL <%= league %></div>
        </div>
        <p class="info center-align"><%= info %></p>
    </div>
    <img src="<%= img %>">
    <div class="content">
        <%- include(preview) %>
    </div>
    <div class="moreContent">
        <%- include(content); %>
    </div>
    <div class="row button">
        <a class="readMore btn waves-effect waves-green tapinBtn">Read More</a>
        <a class="readLess btn waves-effect waves-green tapinBtn">Read Less</a>
    </div>
</div>
