<div class="story section scrollspy" id="story<%= id %>">
    <div class="header">
        <div class="top">
            <a href="/leagues/<%= league %>" style="color: black;"><div class="league <%= league %>">GDL <%= league %></div></a>
            <p class="title bold"><%= title %></p>
            <div class="leagueSmall <%= league %>">GDL <%= league %></div>
        </div>
        <p class="info center-align"><%= info %></p>
    </div>
    <img src="<%= img %>">
    <div class="content">
        <%- include(content); %>
    </div>
</div>
