<div class="story">
    <div class="header">
        <div class="league"><%= league %></div>
        <p class="title"><%= title %></p>
        <hr>
        <p class="info"><%= info %></p>
    </div>
    <div class="image">
        <img src="<%= img %>">
    </div>
    <div class="content">
        <%- include(content); %>
    </div>
</div>
